body {
    background-color: lightyellow;
}

.logout {
    position: relative;
    top: -30px;
    left: 600px;
}

.middle_page{
    overflow-y: scroll;
    background-color: aliceblue;
    height: 400px;
    width: fit-content;
}

.lobby-box{
    background-color: silver;
    border-style: solid;
    padding: 20px;
    width: 250px;
    height: 100px;
}

table{
    border-spacing: 20px;
}

.bottom_page{
}